---
layout: page
title: "About"
description: "Hey, this is Cao."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>不是因为希望而坚持，而是因为坚持而看到希望</p></blockquote>

    <p>Hey，我是<strong>草婷</strong>，Android性能优化工程师 ， <a href="http://gs.swjtu.edu.cn/">西南交通大学</a> · 信号与系统 研究生。目前任职于TCL通讯科技上海分公司。</p>

    <p>我的一些开源项目<a href="http://github.com/cwgoover">Github</a>；</p>

    <p>2016年，我终于建立了自己的个人blog，这对我来说是一件很有意义的事情。工作这么多年，我有很多经验知识想跟大家
    一起分享，有了它，我才真正有了个属于自己的平台。在以后的日子里，我会一点点地将这些年和未来积累地知识在这里分享
    希望有更多的人可以看到，如果有人能因此受益，这真是一件太值得让我开心的事了。</p>

    <h5>经验之谈</h5>

    <ul>
    <li>3年frameworks工程师，让我熟悉Android framework各个模块，学会使用shell, makefile, C, C++, java语言</li>
    <li>2年peformance工程师，让我学会任何设计都要从性能的角度出发考虑，学会python一门很cool的语言</li>
    <li>我有了自己的设计作品，无论是android应用还是python脚本，它都代表了我的成长</li>
    </ul>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Android Senior Developer. <br>
    Sin today, repent tomorrow, it's stupid!</p></blockquote>

    <p>Nice to meet you~</p>

    <p>Hi, Here is <strong>Cao Ting (草婷)</strong>，another nickname <strong>Cwgoover</strong>. I'm Android developer &amp; designer who is loving to build Android application such as <a href="https://github.com/cwgoover/SystraceTool">Systrace tool</a> and more (<a href="https://github.com/cwgoover">Github 👉 </a>). I studied Signal and Information Processing system at <a href="https://en.wikipedia.org/wiki/Southwest_Jiaotong_University">Southwest Jiaotong University</a> class of 2008.</p>

    <p>As a developer, I work at Shanghai branch of (<a href="http://www.tclcom.com/">TCL Communication Technology Holdings Limited</a>) as the Android senior developer.</p>

    <p>In this blog, I wish I can share my knowledge and experience with many people, If there is anything that can help someone, it's a very lovely thing for me.</p>

    <!--<h5>Resumes</h5>

    <ul>
    <li><a href="/attach/Cao Ting_eng.pdf">2016_Cao_Ting_en_SE &amp; FE</a></li>
</ul>-->
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
